@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  li {
    @apply p-4
  }
  button{
    
    @apply  text-white bg-indigo-600
    hover:bg-transparent hover:text-indigo-300 rounded-md border border-indigo-600 
  }
  h1 {
    @apply text-2xl;
  }
  h2 {
    @apply text-xl;
  }
  h3 {
    @apply text-lg;
  }
}